<form
  class="register"
  #registerForm="ngForm"
  (submit)="registerForm.form.valid ? sendForm(registerForm.form.value) : null">
  <app-first-name
    [regUser]="user"
    [form]="registerForm">
  </app-first-name>
  <app-last-name
    [regUser]="user"
    [form]="registerForm">
  </app-last-name>
  <button
    (click)="registerForm.form.markAsTouched()">
    submit
  </button>
</form>
