/* You can add global styles to this file, and also import other style files */
register {
  margin: auto;
  width: 25%;
  background: darkgoldenrod;
}

.items {
  margin: 10px;
  padding: 5px;
}

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}
